{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy LocationForm %}

{% block content %}

<div class="container">
    <div class="form">
        <form action="" method="post">{% csrf_token %}

        {{ form|crispy }}

        <br />
        <input class="btn btn-primary" type="submit" name="submit" value="Submit">
        <a class="btn btn-primary" href="/location/delete/{{ location.id }}/" style="color:white">Delete</a>


        </form>
    </div>
</div>


<script src="{% static 'assets/js/scripts.js' %}"></script>


{% endblock %}

