html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Map and Legend CSS */
#map {
    height: 50%;
    width: 70%;
    float: right;
    margin: 20px;
}


 #legend {
    display: none;
    background: white;
    padding: 10px;
  }

/* End Map and Legend CCSS */


/* Wrappers and Containers */
.wrapper {
    float:left;
    padding: 20px;
    height: 100%;
}

.container {
    width: 95%;
}
/* End Wrappers and containers */


/* Table styling*/
#table {
    margin-top: 30px;
    padding: 20px;
    margin: 20px;

}
/* End table styling*/


/* Form styling*/
.submitBtn {
    margin-top: 20px;
}

.form {
    padding: 10px;
    margin: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    float:left;
}
/* End form styling*/