html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Map and Legend CSS */
#map {
    height: 80%;
    width: 50%;
    float: right;
    margin-right: 50px;
}


 #legend {
    display: none;
    background: white;
    padding: 10px;
  }

/* End Map and Legend CCSS */


/* Wrappers and Containers */
.wrapper {
    float:left;
    padding: 20px;
    height: 100%;
}

.container {
    width: 95%;
}
/* End Wrappers and containers */


/* Table styling*/
#table {
    margin-top: 30px;
}
/* End table styling*/


/* Form styling*/
.submitBtn {
    margin-top: 20px;
}
/* End form styling*/