html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 50%;
    width: 50%;
}



.wrapper {
    float:left;
    padding: 20px;
    height: 100%;
}

#table {
    margin-top: 30px;
}

.legend {
    margin-top: 30px;
}